<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About page</title>
  </head>
  <body>
    {{>header}}
    <h1>{{pageTitle}}</h1>
    <h1>SUBRAT PATTANAIK</h1>
    <h2>CSE STUDENT</h2>
    <p>
        Hello my name is Subrat Pattanaik and I am a student with computer science as my branch.
        I love to desgin my page and doing all fun stuffs in laptop.I am super excited about helping other.
        I love to write , I have also published many books of mine. My idol is my father ,he alsways here to help me
        I am kind of extrovert and I love to make new friends.
    </p>

    <h3>Skills</h3>
      <ul>
        <li>Java Core and Advance</li>
        <li>Python</li>
        <li>C</li>
        <li>C++</li>
        <li>Node.js</li>
      </ul>
      <h3>Hobbies</h3>
      <ul>
        <li>Writing</li>
        <li>Programming new codes</li>
        <li>Listening music</li>
        <li>reading books</li>
      </ul>

      <a href="https://github.com/Subratptnk">github</a>
      {{> footer}}
  </body>

</html>
