<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <h1>{{pageTitle}}</h1>
    {{> header}}                           

    <h2>This is Subrat's home page</h2>
    <h2>{{WelcomeMsg}}</h2>


    {{> footer}}
  </body>
</html>
